<div class="px-4 pt-5 mt-5 border-bottom">
  <div class="text-center" cz-shortcut-listen="true">
      <main class="form-signin w-25 m-auto">
        <%= form_with url: login_path, method: :post, local: true, data: { turbo: false } do |form| %>
          <%= image_tag "my-mtg-logo.png", alt: "My MTG", class: "mb-4", height: "100" %>
          <h1 class="h3 mb-3 fw-normal">Entrar</h1>
          <div class="form-floating">
            <%= form.email_field :email, placeholder: "seuemail@gmail.com", class: "form-control" %>
            <%= form.label :email, "E-mail:" %>
          </div>
          <div class="form-floating">
            <%= form.password_field :password, placeholder: "senha", class: "form-control" %>
            <%= form.label :password, "Senha:" %>
          </div>
          <!--
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Permanecer logado
            </label>
          </div>
          -->
          <div class="pb-5 mt-4">
            <%= form.submit "Entrar", class: "w-100 btn btn-lg btn-primary" %>
          </div>
        <% end %>
      </main>
  </div>
</div>

<%= render partial: "shared/footer" %>