<% if @results.present? %>
  <div class="row">
    <p>
      <%= results.count %> cartas encontradas.
    </p>
  </div>

  <div class="row">
    <ul class="">
      <% @results.each do |card| %>
        <li>
          <%= form_with url: cards_path, method: :post, data: { search_result_target: 'forms' }, id: "form-search-result-#{card.scryfall_id}" do |form| %>
            <%= form.hidden_field :scryfall_id, value: card.scryfall_id %>
            <%= form.submit class: "visually-hidden" %>
            <%= link_to "#", class: "", data: { action: 'click->search-result#pick', search_result_form_id_param: "form-search-result-#{card.scryfall_id}" } do %>
              <%= image_tag card.image_url, width: "71", height: "100" %>
              <%= highlight(card.full_name, query, highlighter: '<strong>\1</strong>') %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% elsif query.length < 3 %>
  <div class="row">
    <p>
      Digite no mínimo <strong>3 caracteres</strong> para buscar uma carta.
    </p>
  </div>
<% else %>
  <div class="row">
    <p>
      Nenhuma carta com nome <strong><%= query %></strong> encontrada.
    </p>
  </div>
<% end %>