<% if @results.present? %>
  <div class="row">
    <p>
      <%= results.count %> cartas encontradas.
    </p>
  </div>

  <div class="row">
    <ul>
      <% @results.each do |card| %>
        <li>
          <%= form_with url: cards_path, method: :post, data: { controller: 'search-result', search_result_target: 'form', action: 'submit->search-result#pick' } do |form| %>
            <%= form.hidden_field :scryfall_id, value: card[:id] %>
            <%= form.submit highlight(card[:name], query), class: "btn" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% elsif query.length < 3 %>
  <div class="row">
    <p>
      Digite no mínimo <strong>3 caracteres</strong> para buscar uma carta.
    </p>
  </div>
<% else %>
  <div class="row">
    <p>
      Nenhuma carta com nome <strong><%= query %></strong> encontrada.
    </p>
  </div>
<% end %>